         body{ 
            background-color: rgb(237, 236, 255);}

         h1{
            color:rgb(93, 0, 155);
            font-size:50px;
            text-align: center;} 

         hr{ 
            height: 2px;
            background-color: rgb(93, 0, 155);}

         p{ 
            font-size: 20px;
            text-align: justify;}

         li{
            font-size: 20px;
            line-height: 150%;}

         a{font-size: 20px;
            color: blue;
            transition: color 0.5s;}

         a:hover{
            color: rgb(93, 0, 155);}

         img{
            width: 350px;
            border: 3px solid rgb(75, 44, 87) ;
            border-radius: 15px;}

         .imgaltura{
            height: 150px;}

         table{
            text-align: center;
            background-color: rgb(206, 199, 219);
            border: 3px solid rgb(75, 44, 87);}

         caption{
            font-size: 20px;
            border: 3px solid rgb(75, 44, 87);
            background-color: rgb(206, 199, 219)}

         td{
            font-size: 20px;
            border: 3px solid rgb(75, 44, 87);}

         th{
            font-size: 20px;
            border: 3px solid rgb(75, 44, 87);}

         .botao{
            text-align: center;
            line-height: 5%;}

